<ion-header [translucent]="true">
<app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <h1>Welcome Back to FreeFlow</h1>

  <form #form="ngForm">
  <div class="login-container">
    <ion-item class="input-item" lines="none">
      <ion-input type="email" label="Username or Email" label-placement="floating" placeholder="Enter email"[(ngModel)]="prenomuser"name="prenomclient"></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-input type="password" label="Password" label-placement="floating" placeholder="Enter password"[(ngModel)]="password"name="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="continue-button"(click)="loginclient()">
      Login as Client
    </ion-button>
    <ion-button expand="block" class="continue-button"(click)="loginfreelancer()">
      Login as Freelancer
    </ion-button>
    </div>
    <div *ngIf="messageSucces">
    {{ messageSucces }}
</div>
    <div class="separator"><span>or</span></div>

    <ion-button expand="block" fill="outline" class="social-button">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Continue with Google
    </ion-button>

    <ion-button expand="block" class="social-button apple-button">
      <ion-icon slot="start" name="logo-apple"></ion-icon>
      Continue with Apple
    </ion-button>

    <div class="signup-section">
       <span class="signup-text">Don't have an account?</span>
       <ion-button fill="clear" (click)="goToSignup()">Sign Up</ion-button>
    </div>
  </form>
</ion-content>
<ion-footer><ion-toolbar><app-navbar></app-navbar></ion-toolbar> </ion-footer>
