<ion-header [translucent]="true">
<app-header></app-header>
</ion-header>
<ion-content class="ion-padding">
  <div class="header-container ion-text-center ion-margin-bottom">
    <h1 class="main-title">Become a client</h1>
    <p class="sub-title">Join our community of talents</p>
  </div>

  <form #form="ngForm">
    <ion-list lines="none" >
      <ion-item class="custom-input">
        <ion-input label="First Name" labelPlacement="stacked" placeholder="Enter your name " type="text"[(ngModel)]="prenomclient"name="prenomclient"></ion-input>
      </ion-item>
      <ion-item class="custom-input">
        <ion-input label="Last Name" labelPlacement="stacked" placeholder="Enter  your surname " type="text"[(ngModel)]="nomclient"name="nomclient"></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-input label="Email Address" labelPlacement="stacked" placeholder="exemple@example.com" type="email"[(ngModel)]="email"name="emailclient"></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-input label="Profession" labelPlacement="stacked" placeholder="profession" type="text"[(ngModel)]="profession"name="professionclient"></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-input label="Password" labelPlacement="stacked" placeholder="********" type="password"[(ngModel)]="password"name="password"></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-input label="Confirm Password" labelPlacement="stacked" placeholder="********" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="custom-terms-container">
  <label class="checkbox-wrapper">
    <input type="checkbox" class="native-checkbox">
    <span class="checkmark"></span>
    <span class="terms-text">
      By signing up, you agree to our <strong>Terms & Conditions</strong>
    </span >
  </label>
</div>
    <div >
    {{ messageSucces }}
</div>
    <div class="button-wrapper">
      <button class="signup-button" (click)="creercompte()">Sign Up</button>
    </div>
  </form>
</ion-content>
<ion-footer><ion-toolbar><app-navbar></app-navbar></ion-toolbar> </ion-footer>
