 <ion-header [translucent]="true">

<app-header></app-header>

</ion-header>
<ion-content>
  <div class="welcome-text">
    <h2>Le futur du travail<br>indépendant dans votre poche</h2>
  </div>

  <div class="search-container">
    <input placeholder="Rechercher" class="custom-search">
  </div>

  <div class="icon-grid">
    <ion-button fill="clear" class="category-btn" (click)="gotoprogrammation()">
      <ion-icon name="code-working-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="category-btn" (click)="gotograhics()">
      <ion-icon name="image-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="category-btn" (click)="gotodigital()">
      <ion-icon name="phone-portrait-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="category-btn" (click)="gotowriting()">
      <ion-icon name="language-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="category-btn" (click)="gotovideos()">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="category-btn" (click)="gotoaiser()">
      <ion-icon name="laptop-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-footer><ion-toolbar><app-navbar></app-navbar></ion-toolbar> </ion-footer>
